.syntax--comment {
  color: hsl(230, 4%, 64%);
  font-style: italic;
}
.syntax--comment .syntax--markup.syntax--link {
  color: hsl(230, 4%, 64%);
}
.syntax--entity.syntax--name.syntax--type {
  color: hsl(41, 99%, 38%);
}
.syntax--entity.syntax--other.syntax--inherited-class {
  color: hsl(119, 34%, 47%);
}
.syntax--keyword {
  color: hsl(301, 63%, 40%);
}
.syntax--keyword.syntax--control {
  color: hsl(301, 63%, 40%);
}
.syntax--keyword.syntax--operator {
  color: hsl(230, 8%, 24%);
}
.syntax--keyword.syntax--other.syntax--special-method {
  color: hsl(221, 87%, 60%);
}
.syntax--keyword.syntax--other.syntax--unit {
  color: hsl(41, 99%, 30%);
}
.syntax--storage {
  color: hsl(301, 63%, 40%);
}
.syntax--storage.syntax--type.syntax--annotation,
.syntax--storage.syntax--type.syntax--primitive {
  color: hsl(301, 63%, 40%);
}
.syntax--storage.syntax--modifier.syntax--package,
.syntax--storage.syntax--modifier.syntax--import {
  color: hsl(230, 8%, 24%);
}
.syntax--constant {
  color: hsl(41, 99%, 30%);
}
.syntax--constant.syntax--variable {
  color: hsl(41, 99%, 30%);
}
.syntax--constant.syntax--character.syntax--escape {
  color: hsl(198, 99%, 37%);
}
.syntax--constant.syntax--numeric {
  color: hsl(41, 99%, 30%);
}
.syntax--constant.syntax--other.syntax--color {
  color: hsl(198, 99%, 37%);
}
.syntax--constant.syntax--other.syntax--symbol {
  color: hsl(198, 99%, 37%);
}
.syntax--variable {
  color: hsl(5, 74%, 59%);
}
.syntax--variable.syntax--interpolation {
  color: hsl(344, 84%, 43%);
}
.syntax--variable.syntax--parameter {
  color: hsl(230, 8%, 24%);
}
.syntax--string {
  color: hsl(119, 34%, 47%);
}
.syntax--string > .syntax--source,
.syntax--string .syntax--embedded {
  color: hsl(230, 8%, 24%);
}
.syntax--string.syntax--regexp {
  color: hsl(198, 99%, 37%);
}
.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded {
  color: hsl(41, 99%, 38%);
}
.syntax--string.syntax--other.syntax--link {
  color: hsl(5, 74%, 59%);
}
.syntax--punctuation.syntax--definition.syntax--comment {
  color: hsl(230, 4%, 64%);
}
.syntax--punctuation.syntax--definition.syntax--method-parameters,
.syntax--punctuation.syntax--definition.syntax--function-parameters,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--separator,
.syntax--punctuation.syntax--definition.syntax--seperator,
.syntax--punctuation.syntax--definition.syntax--array {
  color: hsl(230, 8%, 24%);
}
.syntax--punctuation.syntax--definition.syntax--heading,
.syntax--punctuation.syntax--definition.syntax--identity {
  color: hsl(221, 87%, 60%);
}
.syntax--punctuation.syntax--definition.syntax--bold {
  color: hsl(41, 99%, 38%);
  font-weight: bold;
}
.syntax--punctuation.syntax--definition.syntax--italic {
  color: hsl(301, 63%, 40%);
  font-style: italic;
}
.syntax--punctuation.syntax--section.syntax--embedded {
  color: hsl(344, 84%, 43%);
}
.syntax--punctuation.syntax--section.syntax--method,
.syntax--punctuation.syntax--section.syntax--class,
.syntax--punctuation.syntax--section.syntax--inner-class {
  color: hsl(230, 8%, 24%);
}
.syntax--support.syntax--class {
  color: hsl(41, 99%, 38%);
}
.syntax--support.syntax--type {
  color: hsl(198, 99%, 37%);
}
.syntax--support.syntax--function {
  color: hsl(198, 99%, 37%);
}
.syntax--support.syntax--function.syntax--any-method {
  color: hsl(221, 87%, 60%);
}
.syntax--entity.syntax--name.syntax--function {
  color: hsl(221, 87%, 60%);
}
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
  color: hsl(41, 99%, 38%);
}
.syntax--entity.syntax--name.syntax--section {
  color: hsl(221, 87%, 60%);
}
.syntax--entity.syntax--name.syntax--tag {
  color: hsl(5, 74%, 59%);
}
.syntax--entity.syntax--other.syntax--attribute-name {
  color: hsl(41, 99%, 30%);
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: hsl(221, 87%, 60%);
}
.syntax--meta.syntax--class {
  color: hsl(41, 99%, 38%);
}
.syntax--meta.syntax--class.syntax--body {
  color: hsl(230, 8%, 24%);
}
.syntax--meta.syntax--method-call,
.syntax--meta.syntax--method {
  color: hsl(230, 8%, 24%);
}
.syntax--meta.syntax--definition.syntax--variable {
  color: hsl(5, 74%, 59%);
}
.syntax--meta.syntax--link {
  color: hsl(41, 99%, 30%);
}
.syntax--meta.syntax--require {
  color: hsl(221, 87%, 60%);
}
.syntax--meta.syntax--selector {
  color: hsl(301, 63%, 40%);
}
.syntax--meta.syntax--separator {
  color: hsl(230, 8%, 24%);
}
.syntax--meta.syntax--tag {
  color: hsl(230, 8%, 24%);
}
.syntax--underline {
  text-decoration: underline;
}
.syntax--none {
  color: hsl(230, 8%, 24%);
}
.syntax--invalid.syntax--deprecated {
  color: hsl(40, 60%, 20%) !important;
  background-color: hsl(40, 60%, 70%) !important;
}
.syntax--invalid.syntax--illegal {
  color: white !important;
  background-color: hsl(0, 70%, 60%) !important;
}
.syntax--markup.syntax--bold {
  color: hsl(41, 99%, 30%);
  font-weight: bold;
}
.syntax--markup.syntax--changed {
  color: hsl(301, 63%, 40%);
}
.syntax--markup.syntax--deleted {
  color: hsl(5, 74%, 59%);
}
.syntax--markup.syntax--italic {
  color: hsl(301, 63%, 40%);
  font-style: italic;
}
.syntax--markup.syntax--heading {
  color: hsl(5, 74%, 59%);
}
.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
  color: hsl(221, 87%, 60%);
}
.syntax--markup.syntax--link {
  color: hsl(198, 99%, 37%);
}
.syntax--markup.syntax--inserted {
  color: hsl(119, 34%, 47%);
}
.syntax--markup.syntax--quote {
  color: hsl(41, 99%, 30%);
}
.syntax--markup.syntax--raw {
  color: hsl(119, 34%, 47%);
}
.syntax--source.syntax--c .syntax--keyword.syntax--operator {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--cpp .syntax--keyword.syntax--operator {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--cs .syntax--keyword.syntax--operator {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--css .syntax--property-name,
.syntax--source.syntax--css .syntax--property-value {
  color: hsl(230, 6%, 44%);
}
.syntax--source.syntax--css .syntax--property-name.syntax--support,
.syntax--source.syntax--css .syntax--property-value.syntax--support {
  color: hsl(230, 8%, 24%);
}
.syntax--source.syntax--elixir .syntax--source.syntax--embedded.syntax--source {
  color: hsl(230, 8%, 24%);
}
.syntax--source.syntax--elixir .syntax--constant.syntax--language,
.syntax--source.syntax--elixir .syntax--constant.syntax--numeric,
.syntax--source.syntax--elixir .syntax--constant.syntax--definition {
  color: hsl(221, 87%, 60%);
}
.syntax--source.syntax--elixir .syntax--variable.syntax--definition,
.syntax--source.syntax--elixir .syntax--variable.syntax--anonymous {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--elixir .syntax--parameter.syntax--variable.syntax--function {
  color: hsl(41, 99%, 30%);
  font-style: italic;
}
.syntax--source.syntax--elixir .syntax--quoted {
  color: hsl(119, 34%, 47%);
}
.syntax--source.syntax--elixir .syntax--keyword.syntax--special-method,
.syntax--source.syntax--elixir .syntax--embedded.syntax--section,
.syntax--source.syntax--elixir .syntax--embedded.syntax--source.syntax--empty {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--elixir .syntax--readwrite.syntax--module .syntax--punctuation {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--elixir .syntax--regexp.syntax--section,
.syntax--source.syntax--elixir .syntax--regexp.syntax--string {
  color: hsl(344, 84%, 43%);
}
.syntax--source.syntax--elixir .syntax--separator,
.syntax--source.syntax--elixir .syntax--keyword.syntax--operator {
  color: hsl(41, 99%, 30%);
}
.syntax--source.syntax--elixir .syntax--variable.syntax--constant {
  color: hsl(41, 99%, 38%);
}
.syntax--source.syntax--elixir .syntax--array,
.syntax--source.syntax--elixir .syntax--scope,
.syntax--source.syntax--elixir .syntax--section {
  color: hsl(230, 6%, 44%);
}
.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
}
.syntax--source.syntax--gfm .syntax--link .syntax--entity {
  color: hsl(221, 87%, 60%);
}
.syntax--source.syntax--go .syntax--storage.syntax--type.syntax--string {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--ini .syntax--keyword.syntax--other.syntax--definition.syntax--ini {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--java .syntax--storage.syntax--modifier.syntax--import {
  color: hsl(41, 99%, 38%);
}
.syntax--source.syntax--java .syntax--storage.syntax--type {
  color: hsl(41, 99%, 38%);
}
.syntax--source.syntax--java .syntax--keyword.syntax--operator.syntax--instanceof {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--java-properties .syntax--meta.syntax--key-pair {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--java-properties .syntax--meta.syntax--key-pair > .syntax--punctuation {
  color: hsl(230, 8%, 24%);
}
.syntax--source.syntax--js .syntax--keyword.syntax--operator {
  color: hsl(198, 99%, 37%);
}
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--delete,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--in,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--of,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--instanceof,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--new,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--typeof,
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--void {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation.syntax--string {
  color: hsl(5, 74%, 59%);
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation {
  color: hsl(119, 34%, 47%);
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--constant.syntax--language.syntax--json,
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--array.syntax--json > .syntax--constant.syntax--language.syntax--json {
  color: hsl(198, 99%, 37%);
}
.syntax--ng.syntax--interpolation {
  color: hsl(5, 74%, 59%);
}
.syntax--ng.syntax--interpolation.syntax--begin,
.syntax--ng.syntax--interpolation.syntax--end {
  color: hsl(221, 87%, 60%);
}
.syntax--ng.syntax--interpolation .syntax--function {
  color: hsl(5, 74%, 59%);
}
.syntax--ng.syntax--interpolation .syntax--function.syntax--begin,
.syntax--ng.syntax--interpolation .syntax--function.syntax--end {
  color: hsl(221, 87%, 60%);
}
.syntax--ng.syntax--interpolation .syntax--bool {
  color: hsl(41, 99%, 30%);
}
.syntax--ng.syntax--interpolation .syntax--bracket {
  color: hsl(230, 8%, 24%);
}
.syntax--ng.syntax--pipe,
.syntax--ng.syntax--operator {
  color: hsl(230, 8%, 24%);
}
.syntax--ng.syntax--tag {
  color: hsl(198, 99%, 37%);
}
.syntax--ng.syntax--attribute-with-value .syntax--attribute-name {
  color: hsl(41, 99%, 38%);
}
.syntax--ng.syntax--attribute-with-value .syntax--string {
  color: hsl(301, 63%, 40%);
}
.syntax--ng.syntax--attribute-with-value .syntax--string.syntax--begin,
.syntax--ng.syntax--attribute-with-value .syntax--string.syntax--end {
  color: hsl(230, 8%, 24%);
}
.syntax--source.syntax--ruby .syntax--constant.syntax--other.syntax--symbol > .syntax--punctuation {
  color: inherit;
}
.syntax--source.syntax--php .syntax--class.syntax--bracket {
  color: hsl(230, 8%, 24%);
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
  color: hsl(301, 63%, 40%);
}
.syntax--source.syntax--python .syntax--variable.syntax--parameter {
  color: hsl(41, 99%, 30%);
}
